Create a Team and Heroes!
<form>
  <h2>Team</h2>
  <label for="team_name">Name</label><br>
  <input id="team_name" type="text" name="team[name]" /><br>
  <label for="team_motto">Motto</label><br>


</form>
